/* La cosa migliore da fare è suddividere il CSS in senso logico. Nella correzione
ho notato una sezione 'tipografia' dove c'erano tutti gli elementi come h2 e h1 modificati
in questa sezione, la stessa cosa è stata fatta per quanto riguarda le sezioni che sono
state suddivise in vari banner con un ID  */

/*
html {
    font-size: 62.5% /* serve per riuscire ad utilizzare i rem in senso logico sui font-zize dei vari elementi, esempio:
        se diamo ad un paragrafo un font-size di 1.5rem esso quivale a 15px, 2rem a 20 px */
*/

body {
    color: #393d41;/* qui cambiamo il colore dei testi da nero a grigio scuro */

    font-size: 1.2rem; /* qui aumentiamo l'intera grandezza dei testi della pagina, di base è 16px quindi in questo caso la stiamo aumentando del 20% */

    font-family: 'Open Sans', sans-serif; /* qui diamo lo stile dei testi che in questo caso sarà 'Open Sans' nel caso 
                                             sbagliassimo l'inserimento di questo font nel foglio html o ad inserire il link al font,
                                             sarà visualizzata la seconda opzione cioè 'sans-serif' */

    line-height: 1.65; /* qui diamo uno spazio tra le linee */

    text-align: center;/** io l'ho aggiunto sul main ma nel body è meglio */
}

/* TIPOGRAFIA */ /* questa sezione racchiude tutte quelle impostazioni dei vari h2, h1, p, blockquote, figcaption, cite. */

h1, h2 {
    color: #25a2c3; /* imposta tutti gli h1 e gli h2 su questo colore */

    font-family: "Montserrat", sans-serif; /* tutti gli h1 e h2 saranno di questo font */

    line-height: 1.5; /* dato che nel body era stata specificata la line-height 1.65 con questa impostazione non facciamo altro
                         che diminuire quelli degli headers */

    margin: 0 0 .5em 0; /* i margini degli h avranno 0 su 0 destra 0.5em giu e 0 sinistra, cioè si separeranno maggiormente dagli elementi che stanno in basso a loro */
}
p {
    margin: 0 0 1.5em 0; /* anche i paragrafi si separeranno dagli elementi che si trovano in basso di 1.5em */
}
blockquote {    /*c orrispettivo html: "3mesi di corso che cambieranno radicalmente la tua vita" */

    font-style: italic; /* tutto quello che si trova all'interno di blockquote diventerà corsivo */

    font-size: 0.85em; /* appariranno più piccoli di 0.15em rispetto alle altre scritte  */

    margin: 1.7em 0; /* i margini verticali saranno più grandi */
}
figcaption {    /* corrispettivo html: Mario Rossi
                                       CEO, Epicode +  */
    font-size: .7em; /* diminuisce quello che c'è nella figcaptio del 30% cioe 0.3em */
}
    cite { /* corrispettivo html: Marco Rossi *//* dato che il tag cite si trova indentato all'interno di figcaption, lo indentiamo anche nel CSS */
        font-size: 1.5em; /* aumenta del 50% la grandezza di quello che si trova all'interno del tag cite */
    }

/************************************************ FINE DELLE IMPOSTAZIONI GENERALI TIPOGRAFICHE ****************/

/* HEADER */
header { /* corrispettivo html: l'immagine di EPICODE school */
    background-color: black; /* cambia il colore di sfonto della sezione header */

    padding: 1.5em; /* gli elementi contenuti all'interno del contenitore header rientreranno sui 4 lati di 1.5em */
}
    #logo {
       display: inline-block; /* impostiamo inline-block per riuscire ad impostare la larghezza (width) e l'altezza */

       width: 40%;

       height: auto; /* imposta automaticamente l'altezza così che l'immagine sia ben visualizzata all'interno del suo contenitore */ 
    }

/* SECTION */ /* qui vanno le impostazioni delle varie sezioni */
section {
    padding: 3em 1.3em 2em; /* con questo padding impostiamo il padding delle sezioni top, right/left e bottom */
}
section, section div *:last-child { /* tutte le sezioni e gli ultimi figli di tutti i div che sono contenuti in section avranno un margine di 0 */
    margin-bottom: 0;
}
#banner { /*  corrispettivo html: sezione con un'immagine in sfondo ed un pulsante arancione */

    background-image: url(/assets/images/banner.jpg); /* qui diamo un'immagine di sfondo alla prima sezione */
    
    background-size: cover; /* qui andiamo a definire la larghezza e l'altezza dell'immagine di sfondo, background-size accetta due valori (width & height) in questo caso (cover) abbiamo detto che la larghezza deve coprire l'intero suo contenitore  */

    background-position: center top; /* con questa impostazione centriamo la posizione di partenza dell'immagine centrale in alto */

    background-repeat: no-repeat; /* qui evitiamo di far ripetere l'immagine all'interno del box */
}
    #banner h1 { /* corrispettivo html: Corso Web Developer */

        font-size: 2.2rem; /* aumentiamo la grandezza del font h1 nel banner */

        line-height: 1; /* dato che nel body abbiamo specificato una line height di 1.65 per tutti gli elementi, in questo caso la stiamo diminuendo */
    }
    #banner p {
        margin-bottom: 1.75em;
    }
    #banner .pulsante {
        font-size: .9rem;
        background-color: #f04c2f;

        border-radius: 4px; /* arrotondiamo i bordi per rendere più credibile il pulsante */

        color: #ffffff;

        cursor: pointer; /* questa è la manina che compare quando passiamo il mouse sopra il pulsante */
        
        display: inline-block; /* ci consente di mopdificare larghezza e altezza di un elemento inline */

        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        padding: 0.8em 2.2em;
        text-align: center;

        text-decoration: none; /* qui eliminiamo quella linietta sotto i testi che contraddistingono i link */

        text-transform: uppercase; /* rendiamo tutto il testo maiuscolo */
    }
#benefits div { /* corrispettivo html: sezione con i benefici e l'immagine arrotondata */
    margin-bottom: 1.4em;
}
#benefits .fotoCentrale img {
    border-radius: 50%;

    width: 80%; /* dando questa larghezza riusciamo a centrare ed ingrandire l'immagine all'interno del suo contenitore */
    
    height: auto; /* l'altezza sarà impostata automaticamente */
}
#testimonial {
    background-color: #e22d0e;
    color: white;
}
    #testimonial h2 {
        color: white;
        font-size: 2rem;
    }

    /* SCHEDE */
    .scheda { /* corrispettivo html: sezioni con le tre immagini seguite da paragrafi */
        border-radius: 4px;
        border: solid 1px #dee1e3;
        margin-bottom: 2em;
        padding-bottom: 1.5em;
        font-size: 1rem;
    }
        .scheda img {
            display: inline-block;  /* dato che l'immagine è un elemento inline, lo impostiamo inline-block cosi da poter utilizzare width 100% */
            width: 100%; 
        }
        .scheda .wrapper {
            padding: 0.8em;
        }

/* FOOTER */
footer {
    padding: 2em 1em;
    background-color: #25a2c3;
    color: #c8e7f0;
}
    footer h2 { /* corrispettivo html: CONTATTACI */
        color: #fff;
        font-size: 2rem;
    }
    footer .fas {
        color: white;
    }
    footer a {
        color: #c8e7f0;
    }
    footer ul li {
        font-size: .9em;
        list-style: none;
    }
    footer address {
        margin-bottom: 1.5em;
    }
    footer .copyright {
        display: inline-block;
        font-size: 0.75em;
        padding: 2em 0;
        text-align: center;
        border-top: 1px solid white;
    }
